# generated with dotmg, see `man 1 dotmg` or https://github.com/icebarf/dotmg
*.uuid*
/*
!/.config
/.config/*
!/.config/foot
!/.config/sway
!/.config/pipewire
!/.zprofile
!/.zshenv
!/.zshrc
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fonts
!/.local/share/kiss
/.local/share/kiss/*
!/.local/share/kiss/linux
/.local/share/kiss/linux/*
!/.local/share/kiss/linux/config
!/.gitignore
!/.config/mpv
!/.local/share/kiss/linux/config_thinkpad_t480
!/.local/share/kiss/linux/config_tuf_fx505dt
!/.local/bin
/.local/bin/Svt*
!/.config/emacs
/.config/emacs/*
!/.config/emacs/init.el
!/.config/emacs/lisp
!/.config/nvim
!/.config/gtk-3.0
/.config/gtk-3.0/*
!/.config/gtk-3.0/bookmarks
!/.config/gtk-3.0/colors.css
!/.config/gtk-3.0/gtk.css
!/.config/gtk-3.0/settings.ini
!/.config/gtk-3.0/window_decorations.css
