# generated with dotmg, see `man 1 dotmg` or https://github.com/icebarf/dotmg
/*
!/.config
/.config/*
!/.config/foot
!/.config/sway
!/.config/pipewire
!/.config/gtk-3.0
!/.zprofile
!/.zshenv
!/.zshrc
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/kiss
/.local/share/kiss/*
!/.local/share/kiss/linux
/.local/share/kiss/linux/*
!/.local/share/kiss/linux/config
!/.gitignore
